@media only screen and (max-width: 599px){
    .cen1{
        display: none;
    }
    nav ul li {
        display:list-item;
        list-style: none;
        border: none;
    }
    .maingrid{
        display: grid;
        grid-template-columns: auto;
    }
    .firstgrid{
        grid-column: 1;
        grid-row: 1;
    }
}